@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-menu,
.icon-menu::before,
.icon-menu::after,
.icon-close,
.icon-close::before,
.icon-close::after {
  content: "";
  display: block;
  height: 2.7px;
  position: absolute;
  width: 28px;
  border-radius: 20px;
  transition: top ease 0.3s, transform ease 0.3s 0.3s, background 0.3s ease 0.3s;
  background: #ffffff;
}

.icon-menu::before {
  top: -7px;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
}


.icon-menu::after {
  top: 7px;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
}

.icon-close {
  background: transparent;
}

/* line one of close icon */
.icon-close::before {
  transform: rotate(45deg);
  top: 0px;
  background: #ffffff;
}

/* line two of close icon */
.icon-close::after {
  transform: rotate(-45deg);
  top: 0px;
  background: #ffffff;
}

#icon {
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
}

.search-container {
  max-width: 955px;
  margin: 0 auto;

}

.btn {
  transition: all ease 0.5s ;
}

.btn:hover button {
  color: black;
}

@keyframes slideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(90px);
    opacity: 0;
  }
}


.nav__link {
  opacity: 0;
  transform: translateY(80px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fade-in {
  animation: slideUp 0.8s forwards;
}

.fade-out {
  animation: slideDown 0.5s forwards;
}

